.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 12rem;
  padding: 0.7rem;
  border-radius: 15px;
  margin-right: 3rem;
  
  font-size: 15px;
  

  text-decoration: none;
  cursor: pointer;

  transition: all 0.25s ease;
  white-space: nowrap;
}

/* PRIMARY */
.primary {
  background:#3093E8;
  color: #ffffff;

  
}



/* SECONDARY */
.secondary {
  background: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.secondary:hover {
  background: rgba(255, 255, 255, 0.05);
}
