.customButton {
  width: 280px;
  height: 44px;
  color: white ; /* Text color */
  border: none;
  border-radius: 22px; /* Round corners */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease; /* Optional: Add transition for hover effect */
}

.customButton:hover {
  opacity: 0.9; /* Optional: Add hover effect */
}
