.section {
  position: relative;
  margin-bottom: 0rem;
  padding: 2rem;
  overflow: hidden;
  
  @media (min-width: 1024px) {
    padding: 120px 24px 140px;
  }
}





.content {
  
  max-width: 1440px;
  margin: 0 auto;
}


/* Subtle center glow */
/* .section::before {
  content: "";
  position: absolute;
  inset: -20% 0 -90% 0; 

  background: radial-gradient(
    500px 800px at 50% 45%,
    rgba(0, 172, 255, 0.12),
    rgba(5, 5, 5, 1) 70%
  );

  pointer-events: none;
  z-index: 0;
}
.section > * {
  position: relative;
  z-index: 1;
} */

/* Cards grid */
.cardsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 48px;
  padding: 0 8px;
  
  @media (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding: 0;
  }
  
  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    margin-top: 64px;
  }
}