.sectionTitle {
  
  color: #ffffff;
  margin-bottom: 1rem;
  
}

.highlight {
  color: #3ba6ff;
  font-weight: 600;
  font-style: italic;
}
.container{
    text-align: center;
    margin-bottom: var(--header-bottom-margin);
}

.container p{
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    
}
