.sectionTitle {
  
  color: #ffffff;
  margin-bottom: 1rem;
  
}

.highlight {
  color:#3193E8;
  font-weight: 600; 
}
.container{
    text-align: center;
    margin-bottom: var(--header-bottom-margin);
}

.container p{
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    
}
