.section {
  position: relative;
  /* margin-top: 5rem !important; */
  margin-top: var(--section-header-margin);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 4rem;
}

.section::before {
    content: "";
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 300px;
    background: radial-gradient(
        ellipse at center,
        rgba(14, 165, 233, 0.19) 0%,
        rgba(14, 165, 233, 0.12) 35%,
        rgba(14, 165, 233, 0.04) 60%,
        transparent 75%
    );
    pointer-events: none;
    z-index: 0;
    filter: blur(80px);
}
.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 24px;
  margin-top: 48px;
}

.buttonContainer {
  margin-top: 48px;
}

.ctaButton {
  background-color: #3093E8;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  cursor: pointer; 
  transition: background 0.3s ease;
  font-size: 16px;
}

.ctaButton:hover {
  background-color: #2563eb;
}

.subdescription {
  color: #3093E8;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 6px;
  cursor: pointer;
}