/* .container{
    background:
  radial-gradient(
    60% 40% at 50% 45%,
    rgba(59, 130, 246, 0.18),
    transparent 70%
  ),
  #05070c;
} */
 .container {
  position: relative;
  margin-bottom: 0rem;
  padding: 2rem;
  background-color: #050505;
  overflow: hidden;
}

/* Subtle center glow */
/* .container::before {
  content: "";
  position: absolute;
  inset: 0; 

  background: radial-gradient(
    500px 800px at 50% 45%,
    rgba(0, 172, 255, 0.12),
    rgba(5, 5, 5, 1) 70%
  );

  pointer-events: none;
  z-index: 0;
}
.container > * {
  position: relative;
  z-index: 1;
} */