
.content {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* force 2 per row */
  gap: 24px;
  margin-top: 64px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;  
  /* padding inside the grid */
  padding: 0 16px;
}