:root {
  /* ===== BRAND COLORS ===== */
  --color-primary: #00acff;

  /* ===== BASE COLORS ===== */
  --color-white: #ffffff;
  --color-navy: #172c54;
  --color-gray: #586362;
  --color-muted:#B4B4B4;
  --color-blue-linear-grad:linear-gradient(260.94deg, #002A8D -37.26%, #090C0E 100%);
  
}

