:root {
  /* ===== FONT FAMILIES ===== */
  --font-primary: var(--font-raleway), sans-serif;
  --font-secondary: var(--font-poppins), sans-serif;

  /* ===== FONT WEIGHTS ===== */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-medium: 600;
  --weight-bold: 700;

  /* ===== FONT SIZES ===== */
  --text-h1: clamp(1.15rem, 5vw, 3.75rem);   /* 32px → 60px */
  --text-h2: clamp(1.5rem, 4vw, 2.5rem);  /* 24px → 40px */
  --text-h3: clamp(1rem, 2.5vw, 1.5rem); /* 16px → 20px */

  --text-body-lg: 1.125rem; /* 18px */
  --text-body: 1rem;        /* 16px */
  --text-caption: 0.875rem; /* 14px */

  /* ===== LINE HEIGHTS ===== */
  --line-tight: 1.2;
  --line-normal: 1.5;
  --line-relaxed: 1.7;
}