:root {
  /* ===== FONT FAMILIES ===== */
  --font-primary: var(--font-raleway), sans-serif;
  --font-secondary: var(--font-poppins), sans-serif;

  /* ===== FONT WEIGHTS ===== */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  
  
  /* ===== Margin  ===== */

  --header-bottom-margin:5rem;
  --section-header-margin:5rem;
  --button-top-margin:3rem;

  /* ===== FONT SIZES ===== */
  --text-h1: clamp(25px, 4vw, 46px);
  
  --text-h2: clamp(22px, 3vw, 34px);
  --text-h3: clamp(16px, 2.5vw, 20px); /* 16px → 20px */
  --text-h4: clamp(15px, 2vw, 18px);
  --text-body-lg: 1.125rem; /* 18px */
  --text-body: clamp(11px, 2vw, 16px);;
  --text-caption: 0.875rem; /* 14px */

  /* ===== LINE HEIGHTS ===== */
  --line-tight: 1.2;
  --line-normal: 1.5;
  --line-relaxed: 1.7;
  --line-para:30px;

  /* ===== Max-width ===== */
  --width-lg:1440px;
}
