@import "../styles/typography.css";
@import "../styles/tokens.css";

body {
  font-family: var(--font-secondary); /* Poppins */
  font-size: var(--text-body);
  line-height: var(--line-relaxed);
  color: var(--color-text-primary);
  background-color: #E2E8F0;
  
}

/* HEADINGS = Raleway */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  line-height: var(--line-tight);
  font-size: 100rem;
}

/* BRAND RULES */
h1 {
  font-size: var(--text-h1);
  font-weight: var(--weight-medium);
  color: var(--color-navy);
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--text-h2);
  font-weight: var(--weight-bold);
}
h3 {
  font-size: var(--text-h3);
  font-weight: var(--weight-bold);
}

p {
  font-family: var(--font-secondary); /* Poppins */
  font-weight: var(--weight-regular);
  text-align: left;
}