  .hero {
    padding: 4rem 1.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }
.trustedBadge {
  display: inline-block;
  padding: 6px 12px;

  background-color: #11202D;
  border: 1px solid #27496C;
  border-radius: 999px;

  color: #00acff;
  font-size: 12px;
  font-weight: 500;

  box-shadow: 0px 0px 24px 0px rgba(48, 147, 232, 0.3);

  margin-bottom: 1rem;
}
  .container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  /* LEFT CONTENT */
  .content {
    flex: 1;
  }

  /* RIGHT VISUAL */
  .visual {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 0rem;
  }

  .visual img {
    width: 400px;
    height: 400px;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    
  }

  /* MOBILE */
  @media (max-width: 1050px) {
    .container {
      flex-direction: column;
      text-align: left;
      max-width: 100%;
      align-items: center;
    }
    
    .hero {
      padding: 4rem 1.5rem;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .visual img {
      width: 200px;
      height: 200px;
      max-width: 100%;
    }
  }

  @media (max-width: 640px) {
    .content {
      padding: 0 1rem;
    }
    
    .visual img {
      width: 300px;
      height: 300px;
    }
  }

  @media (max-width: 480px) {
    .visual img {
      width: 250px;
      height: 250px;
    }
  }
