.inner {
  position: relative;
  z-index: 1;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
}
.section{
  margin-bottom: 3rem;
}
.heading {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 12px;
}

.highlight {
  color: #3b82f6;
}

.subheading {
  color: #9ca3af;
  max-width: 620px;
  margin: 0 auto 64px;
  font-size: 16px;
}

.grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 28px;
}
.buttonContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}