.inner {
  position: relative;
  z-index: 1;

  text-align: center;
}
.section{
  
  /* margin-top: 5rem !important; */
  margin-top: var(--section-header-margin);
  margin-left: auto;
  margin-right: auto;
}
.heading {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 12px;
}

.highlight {
  color: #3b82f6;
}

.subheading {
  color: #9ca3af;
  max-width: 620px;
  margin: 0 auto 64px;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  margin-top: 48px;
}
.buttonContainer {
  margin-top: var(--button-top-margin);
  display: flex;
  justify-content: center;
}