.container{
    margin-top: var(--section-header-margin);
    position: relative;
}
.container::before {
    content: "";
    position: absolute;
    top: -130%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 800px;
    background: radial-gradient(
        ellipse at center,
        rgba(14, 165, 233, 0.19) 0%,
        rgba(14, 165, 233, 0.12) 35%,
        rgba(14, 165, 233, 0.04) 60%,
        transparent 75%
    );
    pointer-events: none;
    z-index: 0;
    filter: blur(80px);
}