.releaseSection {
  margin-left: auto;
  margin-right: auto;
  
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
  gap: 5rem;
  
}

.ctaWrapper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.ctaButton {
  background: #3ba6ff;
  color: #fff;
  padding: 14px 28px;
  border-radius: 12px;
  font-weight: 600;
}
.buttonContainer {
  margin-top: var(--button-top-margin);
  display: flex;
  justify-content: center;
}