.releaseSection {
  margin-bottom: 5rem;
  padding: 2rem;
  background-size: 24px 24px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top:5rem;
}

.ctaWrapper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.ctaButton {
  background: #3ba6ff;
  color: #fff;
  padding: 14px 28px;
  border-radius: 12px;
  font-weight: 600;
}
.buttonContainer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}