.grid {
  display: grid;
  width: 100%;
  
  margin: 0 auto;

  grid-template-columns: repeat(2, minmax(460px, 1fr));
  justify-content: center;
  gap: 20px;

  
 
}

@media (max-width: 768px) {
  .grid {
    max-width: 100%;
    grid-template-columns: 1fr;
  }
}
